body {
  margin:0;
  font-family:Arial;
  background:#ffe6f0;
}

.center {
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:10px;
}

input,button {
  padding:10px;
  font-size:16px;
}

.chatbox {
  height:90vh;
  overflow:auto;
  padding:10px;
}

.msg {
  margin:5px;
  padding:8px 12px;
  border-radius:10px;
  max-width:70%;
}

.bot { background:white; }
.user { background:#dcf8c6; margin-left:auto; }

.gallery img {
  width:100px;
  margin:5px;
  border-radius:10px;
}
