* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

/* background */
.bg {
  position: fixed;
  inset: 0;
  background: linear-gradient(120deg, pink, lavender);
  z-index: 1;
}

/* konten */
.container {
  position: relative;
  z-index: 10; /* INI PENTING */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}
