.wa-body {
  background:#0b141a;
}

.wa-app {
  max-width:420px;
  height:100vh;
  margin:auto;
  background:#e5ddd5;
  display:flex;
  flex-direction:column;
}

.wa-header {
  background:#075e54;
  color:white;
  padding:10px;
  display:flex;
  gap:10px;
  align-items:center;
}

.wa-header img {
  width:40px;
  height:40px;
  border-radius:50%;
}

.wa-chat {
  flex:1;
  padding:10px;
  overflow-y:auto;
}

.bubble {
  padding:8px 12px;
  border-radius:8px;
  margin:6px 0;
  max-width:70%;
  font-size:14px;
}

.bot {
  background:white;
}

.user {
  background:#dcf8c6;
  margin-left:auto;
}

.typing {
  font-size:12px;
  color:gray;
}
