body{
  margin:0;
  font-family:Poppins,sans-serif;
  background:linear-gradient(135deg,#ff9a9e,#fad0c4);
  color:white;
  text-align:center;
}

.center{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:100vh;
}

input,button{
  padding:12px 20px;
  border:none;
  border-radius:20px;
  margin:10px;
}

.gallery img{
  width:150px;
  margin:10px;
  border-radius:15px;
  animation:zoom 1s forwards;
}

@keyframes zoom{
  from{opacity:0;transform:scale(.7)}
  to{opacity:1;transform:scale(1)}
}

.shake{
  animation:shake .4s;
}
@keyframes shake{
  0%{transform:translateX(0)}
  25%{transform:translateX(-6px)}
  50%{transform:translateX(6px)}
  75%{transform:translateX(-6px)}
}

/* effects */
.confetti{
  position:fixed;
  top:-10px;
  width:10px;
  height:10px;
  background:yellow;
  animation:fall 3s linear infinite;
}
@keyframes fall{
  to{transform:translateY(110vh) rotate(360deg)}
}

.heart{
  position:fixed;
  bottom:0;
  font-size:24px;
  animation:float 4s forwards;
}
@keyframes float{
  to{transform:translateY(-110vh);opacity:0}
}
